[Unit]
Description=YouTube Downloader Web App
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/script-manager
ExecStart=/var/www/script-manager/venv/bin/python /var/www/script-manager/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="FLASK_ENV=production"

[Install]
WantedBy=multi-user.target